<div class='container'>
<div class="center scrolleable" *ngIf="estaCargado()">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>EventoId</th>
        <th>SensorId</th>
        <th>Fecha</th>
        <th>ValorCritico</th>
        <th>Mensaje</th>
      </tr>
    </thead>
    
    <tbody *ngFor="let ev of historico" >
      <tr>
        <td>{{ev.Id}}</td>
        <td>{{ev.EventoId}}</td>
        <td>{{ev.SensorId}}</td>
        <td>{{ev.Fecha}}</td>
        <td>{{ev.ValorCritico}}</td>
        <td>{{ev.Mensaje}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>