

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<h2 style="padding-left:20%">Ingreso empleado</h2>

<form style="width:70%; padding-left:20%"  (ngSubmit)="onSubmit()" #manageEmployee="ngForm">
    <div class="form-group">
        <label for="id">ID:</label>
        <input [(ngModel)]="model.Id" name="id" class="form-control">
    </div>
    <div class="form-group">
        <label for="Name">Nombre:</label>
        <input [(ngModel)]="model.Name" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="power">Tipo empleado:</label>
        <select class="form-control" id="tEmpleado" required>
            <option *ngFor="let tipo of tipos" [value]="tipo">{{tipo}}</option>
        </select>
    </div>

        <button type="submit" class="btn btn-success">Agregar</button>
</form>
